<!doctype html>
<html>
<head>
	<title>Proyek Teknologi Informasi - Live Streaming Wisuda</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
	<style type='text/css'>@import url(https://fonts.googleapis.com/css?family=Open+Sans);</style>
	<script type='text/javascript' src='http://code.jquery.com/jquery-1.12.2.min.js'></script>
	<script type='text/javascript' src='script.js'></script>
	<?php include 'visitor_counter.php' ?>
	<?php include 'location.php' ?>
	<?php include 'opsys.php' ?>
	<?php include 'visitor.php' ?>
</head>
<body>
	<div class='container-fluid'>
		<div class='row'>
			<div class='col-xs-12'>
				<div align='center'><iframe id='youtube-video' src='https://www.youtube.com/embed/{{youtube_code}}?rel=0&autoplay=1' frameborder='0' allowfullscreen></iframe></div>
			</div>
		</div>
	</div>
	<div class='container-fluid' id='menubar-bottom'>
		<div class='row'>
			<div class='col-xs-3'>This site is created by PTI - 2016</div>
			<div class='col-xs-3'>Entry :: <?php echo ((int) fread((fopen('counter.txt', 'r')),20)); ?></div>
			<div class='col-xs-3'><span><?= $_POST['location'] ?></span></div>
			<div class='col-xs-3'><span><?= $_POST['OSystem'] ?></span></div>
		</div>
	</div>
</body>
</html>